* {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    box-sizing: border-box;
    outline: none;
}
html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
canvas {
    background: #172030;
}
audio {
    width: 100%;
}


.audio-box {
    position: relative;
    width: 100%;
    height: 100vh;
}

.audio-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
}

.audio-settings__opener {
    position: absolute;
    right: 0;
    width: 70px;
    height: 70px;
    background: #273652;
    color: #fff;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    font-size: 21px;
    border-radius: 50%;
    transition: transform .1s ease-in-out;
}
.audio-settings__opener .fa {
    transition: transform .1s ease-in-out;
}

.audio-settings__opener:hover .fa {
    transform: scale(1.2);
}
.audio-settings__opener:active {
    transform: scale(0.8);
}


.audio-settings__content {
    position: absolute;
    top: 80px;
    right: 0;
    background: #273652;
    color: #fff;
    min-width: 220px;
    max-height: 320px;
    border-radius: 3px;
    visibility: hidden;
    overflow-y: scroll;
    z-index: 10;
}

.settings-pane {
    position: relative;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #16232f;
}
.settings-pane:last-child {
    border-bottom: none;
}

.settings-pane__content {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.settings-pane h2 {
    padding: 15px 20px;
    padding-top: 0;
}

.audio-settings__content--opened {
    visibility: visible;
}


.settings-pane__item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    min-width: 70px;
    max-width: 100px;
    padding: 0 10px;
}





.color-picker {
    flex: 1 1 auto;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}







.button {
    position: relative;
    min-width: 70px;
    height: 70px;
    font-size: 21px;
    border: none;
    background: #f4ee41;
    color: #283753;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}
.button .fa {
    transform: scale(1);
    transition: transform .1s ease-in-out;
    pointer-events: none;
}


.button--disabled {
    background: #ccc;
    cursor: default;
}

.button:not(.button--disabled):hover .fa {
    transform: scale(1.2);
}
.button:not(.button--disabled):active {
    transform: scale(0.8);
}